.title{
    color: red;
    text-align: center;
}

.kimi-img{
    height: 500px;
    width: 800px;
    border-radius: 100px;
    margin-left: 200px;
}

.text{
    color: white;
}

.btn-group{
    color:red;

}

.btn-primary{
    color: red;
}